$blue: #0086FE;
$blue-hover: #006dcc;
$white: #FFFFFF;
$grey-light: #dae1e7;
$grey-dark: #5f7681;
$dark: #283339;
$warning: #ffc970;
$hover-gradient: 0 4px 8px 0 rgba(0,0,0,.12),0 2px 4px 0 rgba(0,0,0,.08);
